.u-block-a2fd-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a2fd-3 {
  position: absolute;
  left: 0;
}

.u-block-a2fd-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 575px) {
  .u-block-a2fd-3 {
    width: 65px;
    height: 65px;
    right: auto;
  }
}

 .u-section-1-1 {
  background-image: url("images/pexels-aj4xo-27597369.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-decoration: underline !important;
  margin: 127px 250px 0 277px;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  margin: 246px 397px 0 424px;
}

.u-section-1-1 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 22px auto 60px;
  padding: 10px 17px 10px 16px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 177px;
    margin-right: 150px;
    width: 546px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 297px;
    margin-left: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-left: 67px;
    margin-right: 40px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 187px;
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 98px;
    margin-left: 123px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    border-style: double;
    background-position: 34.97% 50%;
    background-size: cover;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1-1 .u-text-1 {
    font-weight: 700;
    width: auto;
    transition-duration: 0.5s;
    margin-top: 118px;
    margin-left: -7px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 145px;
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 37px;
  }
}

.u-block-a2fd-6,
.u-block-a2fd-6:before,
.u-block-a2fd-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-a2fd-6 {
  border-color: transparent !important;
}

.u-block-a2fd-6.u-block-a2fd-6.u-block-a2fd-6:hover {
  transform: scale(1) translateY(px) !important;
}

.u-block-a2fd-6 {
  border-color: transparent !important;
}

.u-block-a2fd-6.u-block-a2fd-6.u-block-a2fd-6.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1-1 .u-btn-1,
.u-section-1-1 .u-btn-1:before,
.u-section-1-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateY(px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 445px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 82px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 91px 0;
}

.u-section-2 .u-text-3 {
  width: 906px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 50px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 110px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-top: 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 452px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    text-transform: uppercase;
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 408px;
}

.u-section-4 .u-group-1 {
  width: 1140px;
  min-height: 408px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 34px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-style: italic;
  font-size: 1.875rem;
  margin: 8px auto 0;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: linear-gradient(#ff141e, #f1c50e);
  margin: 58px auto 0;
  padding: 14px 55px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 490px;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    min-height: 476px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 447px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 377px;
  background-image: none;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 377px;
  background-image: none;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 377px;
  background-position: 0% 0%;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 265px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 36px 0 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 151px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 60px 20px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 146px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 129px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 657px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px 0 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 7px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 50px 30px 30px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-form-group-5 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 314px;
  }
}