 .u-section-1 {
  background-image: none;
  min-height: 975px;
}

.u-section-1 .u-shape-1 {
  height: 563px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-image-1 {
  width: 1140px;
  height: 657px;
  object-position: 50% 27.48%;
  margin: -481px auto 0;
}

.u-section-1 .u-group-1 {
  width: 727px;
  min-height: 320px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -84px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: solid;
  margin: 27px auto 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 848px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 542px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 31px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 721px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 415px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 311px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
    margin-top: -563px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -72px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 658px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1322px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.6875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.6875rem;
  font-weight: 700;
  margin: 101px 159px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1435px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 1353px;
  --thumb-color: #ff141e;
  --thumb-hover-color: #ff5b61;
  --track-color: #c0c0c0;
  --track-active-color: #ff141e;
  width: 576px;
  margin: 0 auto;
}

.u-section-2 .u-form-group-2 {
  margin-bottom: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-5 {
  --progress: 18%;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-2 .u-form-group-11 {
  margin-top: 20px !important;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-form-group-13 {
  margin-top: 20px !important;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1090px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 72px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1183px;
  }

  .u-section-2 .u-form-1 {
    width: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -203px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -190px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2057px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 62px;
    margin-right: 13px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-right: -2px;
    margin-left: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 220px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}